# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

*package-lock*

# dependencies
/next/node_modules
/next/.pnp
/next.pnp.js
/next.yarn/install-state.gz
/dump/markdown_documents/*

!/dump/markdown_documents/.gitkeep

**/.env.local

/dump/cn_markdown_documents/*

!/dump/cn_markdown_documents/.gitkeep

# testing
/next/coverage
/next/package-lock.json

# next.js
/next/.next/
/next/out/

# production
/next/build

# misc
/next/next.DS_Store
/next/next*.pem

# debug
/next/nextnpm-debug.log*
/next/nextyarn-debug.log*
/next/nextyarn-error.log*

# vercel
/next/next.vercel

# typescript
/next/next*.tsbuildinfo
/next/nextnext-env.d.ts