[Unit]
Description=Update for My Website: Git, Build, MongoDB Import, and Restart Backend
After=network.target

[Service]
Type=oneshot
User=ubuntu
ExecStartPre=/bin/bash -c 'cd /var/www/My-Website && git pull'
ExecStartPre=/bin/bash -c 'cd /var/www/My-Website/next &&  npm install &&  npm run build:en'
ExecStartPre=/bin/bash -c 'mongosh --eval "db.blogs.drop()" --db test && mongoimport --db test --collection blogs --file /var/www/My-Website/dump/test/blogs.json'
ExecStart=/usr/bin/sudo /bin/systemctl restart my-website.service

[Install]
WantedBy=multi-user.target