[Unit]
Description=Start Backend
After=network.target

[Service]
Type=simple
User=builduser
WorkingDirectory=/var/www/My-Website/next
ExecStart=/usr/bin/npm start

[Install]
WantedBy=multi-user.target