[Unit]
Description=Start Backend for Multiple Websites
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/bin/bash -c 'cd /var/www/My-Website/next && PORT=2830 /usr/bin/npm start'
Restart=on-failure

[Install]
WantedBy=multi-user.target
