[Unit]
Description=Update for My Website: Git, Build, MongoDB Import, and Restart Backend
After=network.target

[Service]
Type=oneshot
User=ubuntu
ExecStartPre=/bin/bash -c 'cd /var/www/My-Website-zh && git pull'
ExecStartPre=/bin/bash -c 'cd /var/www/My-Website-zh/next &&  npm install && npm run build:zh'
ExecStartPre=/bin/bash -c 'mongosh --eval "db.translated_blog.drop()" --db test && mongoimport --db test --collection translated_blog --file /var/www/My-Website/dump/test/translated_blog.json'
ExecStart=/usr/bin/sudo /bin/systemctl restart my-website.service

[Install]
WantedBy=multi-user.target